
.vs/Daisy/v16/.suo
.vs/Daisy/v16/Server/sqlite3/db.lock
.vs/Daisy/v16/Server/sqlite3/storage.ide
.vs/Daisy/v16/Server/sqlite3/storage.ide-shm
.vs/Daisy/v16/Server/sqlite3/storage.ide-wal
Daisy/bin/Debug/Daisy.exe
Daisy/bin/Debug/Daisy.exe.config
Daisy/bin/Debug/Daisy.pdb
Daisy/obj/Debug/App.baml
Daisy/obj/Debug/App.g.cs
Daisy/obj/Debug/App.g.i.cs
Daisy/obj/Debug/Daisy.csproj.FileListAbsolute.txt
Daisy/obj/Debug/Daisy.csproj.GenerateResource.cache
Daisy/obj/Debug/Daisy.csprojAssemblyReference.cache
Daisy/obj/Debug/Daisy.exe
Daisy/obj/Debug/Daisy.g.resources
Daisy/obj/Debug/Daisy.pdb
Daisy/obj/Debug/Daisy.Properties.Resources.resources
Daisy/obj/Debug/Daisy_MarkupCompile.cache
Daisy/obj/Debug/Daisy_MarkupCompile.i.cache
Daisy/obj/Debug/Daisy_MarkupCompile.i.lref
Daisy/obj/Debug/Daisy_MarkupCompile.lref
Daisy/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Daisy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Daisy/obj/Debug/GeneratedInternalTypeHelper.g.cs
Daisy/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
Daisy/obj/Debug/MainWindow.baml
Daisy/obj/Debug/MainWindow.g.cs
Daisy/obj/Debug/MainWindow.g.i.cs
Daisy/obj/Debug/Petal/Electrode.baml
Daisy/obj/Debug/Petal/Electrode.g.cs
Daisy/obj/Debug/Petal/Electrode.g.i.cs
Daisy/obj/Debug/Petal/UserControl1.g.i.cs
Daisy/Properties/Settings.Designer.cs
Daisy/Properties/Resources.Designer.cs
Daisy/obj/Debug/Controls/Electrode.g.i.cs
Daisy/obj/Debug/Controls/Electrode.baml
Daisy/obj/Debug/Controls/Electrode.g.cs
